@{
	ViewData["Title"] = "Home Page";
	Layout = "_GridLatihan";
}



<body class="bg-gray-100">
	<div class="container mx-auto p-4">
		<h1 class="text-2xl font-bold mb-4 uppercase">Valorant.</h1>
		<table class="table-auto mb-4 w-full text-sm text-left text-gray-800 mt-10 text-center">
			<thead class="border-b text-lg text-gray-700 uppercase  bg-gray-100">
				<tr class="">
					<th class="px-4 py-2">Agent Name</th>
					<th class="px-4 py-2">Actions</th>
				</tr>
			</thead>
			<hr />
			<tbody class="mb-4" id="agentList">

			</tbody>
		</table>
	</div>

	<!-- Modal -->
        <div
      id="modal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
    >
      <div class="w-1/2 mx-auto my-10 bg-white p-4 rounded relative">
        <div class="flex justify-between">
          <h2 id="nameAgentModal" class="text-2xl font-bold">Agent Details</h2>
          <button
            id="closeModal"
            class="absolute top-3 right-2 px-3 py-1 text-md bg-red-500 text-white rounded-md"
          >
            X
          </button>
        </div>
        <div
          class="text-justify text-md pr-2 font-light"
          id="modalContent"
        ></div>
        
        <span class="" id="roleBadge"></span>

        <div class="modal-body bg-gray-700 mt-2 rounded-md">
        <div id="carouselAbilities" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner py-10" id="carouselInnerAbilities"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAbilities" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAbilities" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <img
          class="absolute bottom-[-200px] right-[-130px]"
          width="400px"
          height="100px"
          id="agentImage"
          src=""
          alt="img-agents"
        />
        </div>
          
        </div>
      </div>
    </div>



	</div>
</body>
@*<div class="container mt-5 ">
	  <div class="row ">
		<div class="main col-md-8 " style="background-color:#e91e63; ">
		  <span style="position: relative;
  animation-name: example;
  animation-duration: 4s; ">Main Content</span>

		</div>
		<ul class="col m-0 p-0">
		  <li class="col" style="background-color:#59698d ">SideBar1</li>
		  <li class="col" style="background-color: #1e88e5">SideBar2</li>
		</ul>
	  </div>
	</div>

	<div class="d-flex justify-content-center pt-4">
	  <button onclick="baris()"type="button" class="mr-3 btn btn-md" style="background-color:teal; color: #ffff;font-size: 0.8rem; ">
		Ubah 1
	  </button>
	  <button onclick="baris1()" type="button" class="mr-3 btn btn-md" style="background-color:teal; color: #ffff;font-size: 0.8rem; ">
		Ubah 2
	  </button>
	  <button onclick="baris2()" type="button" class="btn btn-md" style="background-color:teal; color: #ffff; font-size: 0.8rem; ">Ubah 3</button>
  </div>
  <div>
	  <ul id="animalList"></ul>
  </div>
	<div>
	  <ul id="tampil"></ul>
  </div>

  <div class="w-full mx-auto">
	<h1 class="m-8 text-center text-3xl font-bold">Fetching Data Jquery & Tailwindcss</h1>
	<div id="tableContainer"></div>
  </div>
*@